.custom_button {
  height: 100%;
  border: none;
  background-color: var(--color-primary);
  border-radius: 2rem;
}

.custom_button:hover {
  background-color: var(--color-accent);
}

.custom_button:active {
  background-color: var(--color-secondary);
}

.custom_label {
  color: var(--color-background);
  font-size: large;
  margin: 1rem;
}
