.custom_button {
  height: 100%;
  border: none;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow-card);
  border: solid 0.03rem var(--color-darker);
  border-radius: 2rem;
}

.custom_button:hover {
  background-color: var(--color-accent);
}

.custom_button:active {
  background-color: var(--color-secondary);
}

.custom_label {
  font-size: large;
  margin: 1rem;
}
