.header_wrapper {
  border-bottom: solid var(--color-accent);
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.app_title {
  margin: 0;
}

.buttons_wrapper {
  width: 13rem;
  display: flex;
  justify-content: space-between;
}
