.header_wrapper {
  border-bottom: solid var(--color-accent);
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.app_title {
  align-self: center;
  margin: 0;
}

.buttons_wrapper {
  width: 13rem;
  display: flex;
  justify-content: space-between;
}

.logged_buttons_wrapper {
  width: 30rem;
  display: flex;
  justify-content: flex-end;
}

.new_entry_button_box {
  margin-right: 1rem;
}
