:root {
  --color-text: #074e47;
  --color-text-body: #667e7b;
  --color-darker: #021822;
  --color-background: linear-gradient(var(--color-darker), #33586d, #82b6d4);
  --color-primary: #e7f2ff;
  --color-secondary: #8f9eb3;
  --color-accent: #b3c4db;
  --color-gray: #1e1e1e;
  --color-error: #cf4646;

  --box-shadow-card: inset 0 0 0.3rem var(--color-darker),
    0 0 0.9rem rgba(151, 198, 202, 0.5);

  --mask-image-background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7035189075630253) 5%,
    rgba(0, 0, 0, 1) 11%,
    rgba(0, 0, 0, 1) 89%,
    rgba(0, 0, 0, 0.7035189075630253) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}
