.input_wrapper {
  width: 100%;
  max-width: 50vh;
  height: 30rem;
  padding: 1rem;
  box-sizing: border-box;
  border: none;
  border-radius: 1rem;
  background-color: var(--color-accent);
  font-size: 16px;
  resize: none;
}
