.input_wrapper {
  width: 100%;
  max-width: 50vh;
  height: 30rem;
  padding: 1rem;
  box-sizing: border-box;
  border: none;
  border-radius: 1rem;
  background: var(--color-primary);
  box-shadow: var(--box-shadow-card);
  border: solid 0.11rem var(--color-darker);
  font-size: 16px;
  resize: none;
}
