@import '../constants/variables.css';

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: var(--color-background);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-primary);
  filter: drop-shadow(0 0 0.1rem var(--color-primary));
}
