@import '../constants/constants.css';

body {
  height: 100vh;
  max-width: 100vw;
  margin: 0;
  background: var(--color-background);
}

main {
  height: calc(100vh - 5.3rem);
  overflow-y: scroll;
  padding-top: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-primary);
  filter: drop-shadow(0 0 0.1rem var(--color-primary));
  font-family: 'Lato', sans-serif;
}

label {
  color: var(--color-text);
  filter: drop-shadow(0 0 0.02rem var(--color-text));
  font-family: 'Monserrat', sans-serif;
  font-size: 0.9rem;
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  box-shadow: var(--box-shadow-card);
  border: solid 0.03rem var(--color-darker);
  border-radius: 1rem;
}
