.home_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 7rem;
}

.column_wrapper {
  width: 29%;
}

.card_box {
  margin-bottom: 1rem;
}
