.entry_card_wrapper {
  background: var(--color-primary);
  box-shadow: var(--box-shadow-card);
  border: solid 0.03rem var(--color-darker);
  border-radius: 1rem;
  padding: 1rem;
  width: 53rem;
  max-width: 90%;
}

.header_wrapper {
  padding: 0.7rem;
  margin: 0 0 0.7rem 0;
  border-radius: 0.8rem;
}

.body_wrapper {
  padding: 1.3rem;
}

.text_body {
  color: var(--color-text-body);
  font-size: 0.89rem;
}
